{% extends "layout.html" %}
{% block content %}
<script>
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>
<div class="container">
  <p>新規登録</p>
<div class="row">
  <form class="col s12" action="/sign_up", method="POST">
    <div class="row" style="margin-top: 20px;">
      <div class="input-field col s8 l5">
        <input id="username" type="text" class="validate" name='username' placeholder='※20文字以下' required>
        <label for="username">ユーザー名（必須）</label>
        <span style="font-size:12px;color:grey;">※変更不可／ログイン時に必要になります。</span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8 l5">
        <input id="password1" type="password" class="validate" name='password' required>
        <label for="password1">パスワード（必須）</label>
        <span style="font-size:12px;color:grey;">※変更不可／ログイン時に必要になります。</span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8 l5">
        <input id="nickname" type="text" class="validate" name='nickname' required>
        <label for="nickname">表示する名前（必須）</label>
      </div>
    </div>
    <div class="row">
    <div class="input-field col s8 l5">
      <select name='sex' required>
        <option value="" disabled selected>選択してください</option>
        <option value="1">男性</option>
        <option value="2">女性</option>
      </select>
      <label>性別（必須）</label>
    </div>
    </div>
    <div class="row">
    <div class="input-field col s8 l5">
      <select name='grade' required>
        <option value="" disabled selected>選択してください</option>
        <option value="1">学部１年</option>
        <option value="2">学部２年</option>
        <option value="3">学部３年</option>
        <option value="4">学部４年</option>
        <option value="5">修士１年</option>
        <option value="6">修士２年</option>
        <option value="0">その他</option>
      </select>
      <label>学年（必須）</label>
    </div>
    </div>
    <div class="row">
      <div class="input-field col s8 l5">
        <select name='department' required>
          <option value="" disabled selected>選択してください</option>
          <option value="共創学部">共創学部</option>
          <option value="文学部">文学部</option>
          <option value="教育学部">教育学部</option>
          <option value="法学部">法学部</option>
          <option value="経済学部">経済学部</option>
          <option value="理学部">理学部</option>
          <option value="医学部">医学部</option>
          <option value="歯学部">歯学部</option>
          <option value="薬学部">薬学部</option>
          <option value="工学部">工学部</option>
          <option value="芸術工学部">芸術工学部</option>
          <option value="農学部">農学部</option>
          <option value="他大学">他大学</option>
          <option value="その他">その他</option>
        </select>
        <label>学部（必須）※他大学の方は他大学を選択してください。</label>
      </div>
      </div>
      <div class="row">
        <div class="input-field col s8 l5">
          <input id="adr" type="text" class="validate" name='adr' placeholder="支障が無い範囲でお答え下さい">
          <label for="adr">居住地（任意）</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8 l5">
          <select name='osi_group' required>
            <option value="" disabled selected>選択してください</option>
            <option value="1">乃木坂46</option>
            <option value="2">欅坂46</option>
            <option value="3">日向坂46</option>
          </select>
          <label>推しグループ（必須）</label>
        </div>
        </div>
      <div class="row">
        <div class="input-field col s8 l5">
          <input id="twitter_id" type="text" class="validate" name='twitter_id' placeholder="@nogizaka46">
          <label for="twitter_id">twitter_id（任意）</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8 l5">
          <textarea id="textarea1" class="materialize-textarea" name='comment'></textarea>
          <label for="textarea1">自己紹介（任意）</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit">送信する
      </button>
  </form>
</div>
</div>
{% endblock %}