{% extends "layout.html" %}
{% block style%}
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<style>
  body {
    background-color: #e2eff5;
  }

  .collection .collection-item {
    background-color: #e1bee7;
  }
  @media (min-width: 992px){
  input:not([type]):disabled,
  input:not([type])[readonly="readonly"],
  input[type=text]:not(.browser-default):disabled,
  input[type=text]:not(.browser-default)[readonly="readonly"],
  input[type=password]:not(.browser-default):disabled,
  input[type=password]:not(.browser-default)[readonly="readonly"],
  input[type=email]:not(.browser-default):disabled,
  input[type=email]:not(.browser-default)[readonly="readonly"],
  input[type=url]:not(.browser-default):disabled,
  input[type=url]:not(.browser-default)[readonly="readonly"],
  input[type=time]:not(.browser-default):disabled,
  input[type=time]:not(.browser-default)[readonly="readonly"],
  input[type=date]:not(.browser-default):disabled,
  input[type=date]:not(.browser-default)[readonly="readonly"],
  input[type=datetime]:not(.browser-default):disabled,
  input[type=datetime]:not(.browser-default)[readonly="readonly"],
  input[type=datetime-local]:not(.browser-default):disabled,
  input[type=datetime-local]:not(.browser-default)[readonly="readonly"],
  input[type=tel]:not(.browser-default):disabled,
  input[type=tel]:not(.browser-default)[readonly="readonly"],
  input[type=number]:not(.browser-default):disabled,
  input[type=number]:not(.browser-default)[readonly="readonly"],
  input[type=search]:not(.browser-default):disabled,
  input[type=search]:not(.browser-default)[readonly="readonly"],
  textarea.materialize-textarea:disabled,
  textarea.materialize-textarea[readonly="readonly"] {
    color: black;
    border-bottom: 1.5px solid #4db6ac;
  }
  }
</style>
{% endblock%}
{% block content %}
<div class="row" style="margin: 10px;">
  <div class="col s12 l5" style="margin-top: -30px;">
    <p style="font-size: 32px;"><i class="fas fa-crown prefix" style="color:#afb42b;"><span style="color: black;">
          神推し</span><span style="font-size: 12px;color: gray;">ここに１推しを表示する（未実装）</span></i></p>
    <div style="max-width: 80%;margin:0 auto;"><img
        src="https://img.nogizaka46.com/www/member/img/yamashitamizuki_prof.jpg" alt="mizu"></div>
  </div>
  <div class="col s12 l6">
    <ul class="collection" style="background-color: #ba68c8;">
      <li class="collection-header center" style="border-bottom-style: solid;border-bottom-color: #e0e0e0;">
        <h4 style="font-weight: bold;"><i class="far fa-address-card prefix"></i> Profile</h4>
      </li>
      <li class="collection-item col l6 s12">
        <div class="input-field">
          <i class="far fa-user-circle prefix"></i>
          <input disabled id="icon_prefix" type="text" class="validate" value={{data.username}}>
          <label for="icon_prefix">ユーザー名</label>
        </div>
      </li>
      <li class="collection-item col l6 s12">
        <div class="input-field">
          <i class="fas fa-user-circle prefix"></i>
          <input disabled id="icon_prefix" type="text" class="validate" value={{data.nickname}}>
          <label for="icon_prefix">名前</label>
        </div>
      </li>
      <li class="collection-item col l6 s12">
        <div class="input-field">
          <i class="material-icons prefix">grade</i>
          <input disabled id="icon_prefix" type="text" class="validate" value=学部{{data.grade}}年>
          <label for="icon_prefix">学年</label>
        </div>
      </li>
      <li class="collection-item col l6 s12">
        <div class="input-field">
          <i class="material-icons prefix">school</i>
          <input disabled id="icon_prefix" type="text" class="validate" value={{data.department}}>
          <label for="icon_prefix">学部</label>
        </div>
      </li>
      <li class="collection-item col l6 s12">
        <div class="input-field">
          <i class="material-icons prefix">home</i>
          <input disabled id="icon_prefix" type="text" class="validate" value={{data.adr}}>
          <label for="icon_prefix">居住地</label>
        </div>
      </li>
      <li class="collection-item col l6 s12">
        <div class="input-field">
          <i class="fas fa-venus-mars prefix"></i>
          <input disabled id="icon_prefix" type="text" class="validate" value={{s_dic[data.sex]}}性>
          <label for="icon_prefix">性別</label>
        </div>
      </li>
      <li class="collection-item col l6 s12">
        <div class="input-field">
          <i class="material-icons prefix">mood</i>
          <input disabled id="icon_prefix" type="text" class="validate" value={{g_dic[data.osi_group]}}>
          <label for="icon_prefix">推しグループ</label>
        </div>
      </li>
      <li class="collection-item col l6 s12">
        <div class="input-field">
          {% if data.twitter_id != ''%}
          <a class="fab fa-twitter prefix" href="https://twitter.com/{{data.twitter_id}}"></a>
          {% else %}
          <i class="fab fa-twitter prefix"></i>
          {% endif %}
          <input disabled id="icon_prefix" type="text" class="validate" value={{data.twitter_id}}>
          <label for="icon_prefix">Twitter</label>
        </div>
      </li>
    </ul>
  </div>
  <div class="col s5 l3">
    <a href="/mypage/{{data.id}}/edit">推しメンを設定する</a><br>
    <a href="#">メンバー画像 未実装</a>
    {% for o in osi %}
    <h5>{{o.osi_grade}}推し</h5>
    <li>{{o.osi_name}}</li>
    <li>{{g_dic[o.group]}}</li>
    {%endfor%}
  </div>
</div>
{% endblock %}