{% extends "layout.html" %}
{% block style%}
<style>
@import url(https://fonts.googleapis.com/css?family=Lato:300);
body{
  background-color: #f5f7f8;
}
.container {
  font-family: "Lato";
  font-size: 42px;
  font-weight: 300;
  width: 80%;
  margin: 2em auto;
  
  border-top: 2px solid #555;
  border-bottom: 2px solid #555;
  line-height: 1.4;
  padding: 20px 0;
  background: #CCC;
  background-image: -webkit-gradient(linear,0% 0%,25% 100%,from(#7e1083 ),to(#7cc8e9));
  background-image: -moz-gradient(linear,0% 0%,25% 100%,from(#7e1083 ),to(#7cc8e9));
  background-image: -ms-gradient(linear,0% 0%,25% 100%,from(#7e1083 ),to(#7cc8e9));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;  
}
</style>
{% endblock%}
{% block content %}
<link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
<div class="container">
  そこの君、<br>◢ オタクは隠すコトじゃない ◢ <br><span style="font-size: 24px;">#九大坂道愛好会</span>
</div>
{% endblock %}