{% extends "layout.html" %}
{%block style%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit-icons.min.js"></script>
<style>
  #clipped {
  margin-bottom: 20px;
  clip-path: url(#cross);
  -webkit-clip-path: url(#cross);
}

  .uk-card-small.uk-card-body {
    padding: 5px 8px;
    font-size: 13px;
  }

  .uk-border-remove {
    border: 0 none;
  }

  textarea {
    background: none !important;
    resize: none;
  }

  @keyframes dot-anim {
    100% {
      transform: translate(0, 0);
    }

    50% {
      transform: translate(0, -6px);
    }

    0% {
      transform: translate(0, 0);
    }
  }

  .etc i {
    width: 6px;
    height: 6px;
    background: #222;
    border-radius: 100%;
    display: inline-block;
    animation: dot-anim 1s infinite linear;
    transform: translate(0, 0);
  }

  .etc {
    display: block;
    position: relative;
  }

  .etc i+i {
    margin-left: 3px;
  }

  .etc i:nth-child(1) {
    animation-delay: 0.5s;
  }

  .etc i:nth-child(2) {
    animation-delay: 0.4s;
  }

  .etc i:nth-child(3) {
    animation-delay: 0.3s;
  }

  .uk-card {
    position: relative;
    z-index: 1;
  }

  .guest .uk-card:after,
  .me .uk-card:after {
    width: 10px;
    height: 45px;
    position: absolute;
    bottom: 0;
  }

  .guest .uk-card:after {
    background: #fff;
    left: -4px;
    clip-path: polygon(100% 70%, 0% 100%, 100% 100%);
  }

  .me .uk-card:after {
    background: #1e87f0;
    right: -4px;
    clip-path: polygon(0 70%, 0% 100%, 100% 100%);
  }

  .uk-h4,
  h4 {
    font-size: 2.00rem;
    line-height: 110%;
    margin: 1.52rem 0 .912rem 0;
  }

  .uk-card-body {
    padding: 5px 30px;
  }
</style>
<script>
  
  var clipPathSelect = document.getElementById("clipPath");
clipPathSelect.addEventListener("change", function (evt) {
  document.getElementById("clipped").style.clipPath = evt.target.value;
  document.getElementById("clipped").style.webkitClipPath = evt.target.value;
});

  $('.uk-button').on('click', function () {
    $('.uk-section').toggleClass('uk-dark uk-light');

    $('.uk-container > .uk-card').toggleClass('uk-card-default uk-card-secondary');

    $('html').toggleClass('uk-background-muted uk-background-secondary');
  });

  function reset(){

var reset_target = document.getElementById("text");

if(reset_target.value == ''){
    alert('すでにリセットされています。');
}else{
    reset_target.value = '';
}
  }

  jQuery(document).ready(function($) {
    //750px以上の場合
    var windowHeight = $(window).height();
    console.log(windowHeight)
    if (windowHeight >= 750) {
$(function(){
    $("#responsiv").addClass('uk-height-large');
    $("responsiv").mouseover(function(){
    $(this).addClass('uk-height-large');})
});
    //750px以下の場合
    } else {
$(function(){
  $("#responsiv").addClass('uk-height-medium');
    $("responsiv").mouseover(function(){
        $(this).addClass('uk-height-medium');
    });
});
    };
});
</script>
{%endblock%}
{%block content%}
<div class="uk-container uk-width-large uk-position-fixed">
  <div class="uk-section" style="margin-bottom: 20px;padding-top: 0mm;">
    <div class="uk-card uk-card-default uk-border-rounded uk-margin-small-top">
      <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" src="https://img.nogizaka46.com/www/member/img/yamashitamizuki_prof.jpg">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{o_data.nickname}}さん</h3>
                <p class="uk-text-meta uk-margin-remove-top">{{o_data.department}} {{o_data.grade}}年</p>
            </div>
        </div>
    </div>

      <div class="uk-card-body uk-padding-small">

        <div class="uk-overflow-auto" id='responsiv'>
          {% for m in m_d %}
          {% if m[0] == o_data.id %}
          <div class="guest uk-grid-small uk-flex-bottom uk-flex-left" uk-grid>
            <div class="uk-width-auto">
              <img class="uk-border-circle" width="32" height="32" src="https://img.nogizaka46.com/www/member/img/yamashitamizuki_prof.jpg">
            </div>
            <div class="uk-width-auto">
              <div class="uk-card uk-card-body uk-card-small uk-card-default uk-border-rounded">
                <p class="uk-margin-remove">{{m[1]}}</p>
              </div>
            </div>
          </div>

          {% else %}

          <div class="me uk-grid-small uk-flex-bottom uk-flex-right uk-text-right" uk-grid>
            <div class="uk-width-auto">
              <div class="uk-card uk-card-body uk-card-small uk-card-primary uk-border-rounded">
                <p class="uk-margin-remove">{{m[1]}}</p>
              </div>
            </div>
            <div class="uk-width-auto">
              <img class="uk-border-circle" width="32" height="32" src="https://img.nogizaka46.com/www/member/img/yamashitamizuki_prof.jpg">
            </div>
          </div>
          {%endif%}
          {%endfor%}
        </div>
      </div>
      <form action="/messages/{{r_id}}" , method="POST", name="subform">
      <div class="uk-card-footer uk-padding-remove">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
            <a href="javascript:reset()" class="uk-icon-link uk-margin-small-left" uk-icon="icon: close"></a>
          </div>
          <div class="uk-width-expand">
            <div class="uk-padding-small uk-padding-remove-horizontal">
              <textarea class="uk-textarea uk-padding-remove uk-border-remove" rows="1"
                placeholder="よろしくお願いします！" name='message' id='text'></textarea>
            </div>
          </div>
          <div class="uk-width-auto">
            <ul class="uk-iconnav uk-margin-small-right">
              <li style="margin-top: -15px;">
                <a href="javascript:subform.submit()" class="uk-icon-link uk-margin-small-left" uk-icon="icon: reply"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}