<h1 id="使い方">📐 使い方</h1>
<ol type="1">
<li>まずは、新規登録時に設定したユーザー名とパスワードでログインします。</li>
</ol>
<p><img src="https://user-images.githubusercontent.com/52794486/79134558-dfde6480-7de8-11ea-9dc0-375a48b8cff5.png" style='height:200px;'></p>
<ol start="2" type="1">
<li>Mypageに飛ぶので、推しメンの登録をしましょう。</li>
</ol>
<p><img src="https://user-images.githubusercontent.com/52794486/79134626-f7b5e880-7de8-11ea-99e3-bbca22d2d29a.png" style='height:200px;'></p>
<p>１推し~３推しまで、計三人設定することができます。</p>
<p><img src="https://user-images.githubusercontent.com/52794486/79134774-3350b280-7de9-11ea-9ff8-65b4fc7266ed.png" style='height:200px;'></p>
<p>Mypageの画像も更新されます。</p>
<p><img src="https://user-images.githubusercontent.com/52794486/79134833-51b6ae00-7de9-11ea-8f07-d5b07988fa05.png" style='height:200px;'></p>
<ol start="3" type="1">
<li>次にサークル内のオタクを検索してみましょう</li>
</ol>
<p><img src="https://user-images.githubusercontent.com/52794486/79134881-6dba4f80-7de9-11ea-9468-0a6be77f6d68.png" style='height:200px;'></p>
<p>「オタクを検索する」から検索ページにいきます。</p>
<p><img src="https://user-images.githubusercontent.com/52794486/79134944-89255a80-7de9-11ea-884c-46c27a4c4602.png" style='height:200px;'></p>
<p>このように、フィルターをかけることで仲良くなれそうなオタクを見つけることができます。</p>
<ol start="4" type="1">
<li>検索結果が表示されます。<br> <code>DETAIL</code>からオタクの詳細ページに飛び、<code>MESSAGE</code>から簡易的なメッセージを送ることができます。<br>この機能を使い、気軽に話しかけ、同じ推しや学年同士で仲良くなることができます。</li>
</ol>
<p><img src="https://user-images.githubusercontent.com/52794486/79135267-0bae1a00-7dea-11ea-9e67-ea51c3d7319c.png" style='height:200px;'></p>
